/* BODY */
html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: -webkit-linear-gradient(-45deg, #F0AB00 0%, #ef8300 100%);
  background: linear-gradient(135deg, #F0AB00 0%, #ef8300 100%);
  Background-attachment:fixed;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0pt;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

body.friendly .message__title {
  color: #fff; }

.sapientes__header {
  margin-top: 15px;
  margin-bottom: 8px; }

.logo {
  font-size: xx-large;
  color: #fff;
  margin-top: 0px;
  margin-right: 20px;
  display: inline-block;
  float:left;
  font-family: 'Orbitron', sans-serif;
  text-decoration:none;
}

.navbtn {
  padding: 15px 15px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  float:right;
  font-family: 'Roboto', sans-serif;
      list-style-type: none;
}

.navbtn:hover {
  text-decoration: underline;
}

/* BUTTON LIST */
ul {
    margin: 0;
}


//.full-width-bar {
//  margin: 0 -9999rem;
//  /* add back negative margin value */
//  padding: 0.25rem 9999rem;
//}


//https://bitsofco.de/holy-grail-layout-css-grid/

.grid_header { 
  grid-area: header; 
}
.grid_menu { 
  grid-area: menu;
}
.grid_title { 
  grid-area: title;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
  color: #444444;
  text-align: center;
}
.grid_box1 { 
  grid-area: box1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 20px;
  font-size: 100%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
}
.grid_box2 { 
  grid-area: box2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 20px;
  font-size: 100%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
}
.grid_box3 { 
  grid-area: box3;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 20px;
  font-size: 100%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
}
.grid_footer { 
  grid-area: footer; 
  text-align: center;
  font-size: small;
}

.grid {
    display: grid;
    grid-template-areas: "header menu menu"
                         "title title title"
                         "box1 box2 box3"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 
                        50px
                        1fr
                        20px;
    min-height: 100vh;
}


@media screen and (max-width: 600px) {
    .grid {
        grid-template-areas: "header"
                             "menu"
                             "title"
                             "box1"
                             "box2"
                             "box3"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 50px 
                            50px
                            50px
                            1fr
                            1fr
                            1fr
                            20px;
    }
}



/* GRID */
    .content {
        grid-column: 1 / -1;
        grid-row: 3;
        //background-color: rgba(255, 255, 255, 1);
        padding: 0px;
        font-size: 100%;
    }

