/* BODY */

/* yellow: FAC020 - rgb(250, 192, 32)*/
/* green: 00A54F - rgb(0, 165, 79)  */

/* https://stackoverflow.com/questions/29307357/get-rid-of-webkit-padding-start-40px */
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: -webkit-linear-gradient(-45deg, #00A54F 0%, #00A54F 100%);
  background: linear-gradient(135deg, #00A54F 0%, #00A54F 100%);
  Background-attachment:fixed;
  //height: 100%;
  -webkit-font-smoothing: antialiased;
}



.logo {
  display: block;
  text-align:center;
  background-color: rgb(250, 192, 32);
}

.navbtn {
  padding: 10px;
  font-size: 14px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbtn:hover {
  text-decoration: underline;
}

/* Product Grid
/ http:blog.teamtreehouse.com/using-inline-block-to-display-a-product-grid-view */
ul.products li {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}


/*https://bitsofco.de/holy-grail-layout-css-grid/ */

.grid_logo { 
  grid-area: logo;
  background-color: rgb(250, 192, 32);
}
.grid_menu { 
  grid-area: menu;  
  background-color: rgb(250, 192, 32);
}
.grid_title { 
  grid-area: title;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.grid_content { 
  grid-area: content;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 10px;
  font-size: 100%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.grid_footer { 
  grid-area: footer; 
  text-align: center;
  font-size: small;
  background-color: rgb(250, 192, 32);
}

.grid {
    display: grid;
    grid-template-areas: "logo title"
                         "logo content"
                         "menu content"
                         "menu none"
                         "footer none";
    grid-template-columns: 255px 1fr;
    grid-template-rows: 50px 
                        50px
                        auto
                        1fr
                        50px;
    min-height: 100vh;
}

@media screen and (min-width: 1200px) {
    .grid {
  /*    grid-template-columns: 400px 400px 400px;   */
    }
  }

@media screen and (max-width: 700px) {
    .grid {
        grid-template-areas: "logo"
                             "menu"
                             "title"
                             "content"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 
                            50px
                            50px
                            1fr
                            50px;
    }
    .grid_header {
      text-align: center
    }
    .grid_footer { 
      background-color: rgba(250, 192, 32, 0);
    }
    .navbtn {
      display:inline-block;
      float: none;
    }
}





