/* BODY */

/* yellow: FAC020 - rgb(250, 192, 32)*/
/* green: 00A54F - rgb(0, 165, 79)  */

html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: -webkit-linear-gradient(-45deg, #00A54F 0%, #00A54F 100%);
  background: linear-gradient(135deg, #00A54F 0%, #00A54F 100%);
  Background-attachment:fixed;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0pt;
}

body {
  padding: 0;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
  margin:0 auto;
}


.logo {
  display: block;
  text-align:center;
  background-color: rgb(250, 192, 32);
}

.navbtn {
  padding: 20px 15px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  float: right;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

.navbtn:hover {
  text-decoration: underline;
}

/* BUTTON LIST */
ul {
    margin: 0;
}


//.full-width-bar {
//  margin: 0 -9999rem;
//  /* add back negative margin value */
//  padding: 0.25rem 9999rem;
//}


//https://bitsofco.de/holy-grail-layout-css-grid/

.grid_header { 
  grid-area: header;
  background-color: rgb(250, 192, 32);
}
.grid_menu { 
  grid-area: menu;  
  background-color: rgb(250, 192, 32);
}
.grid_title { 
  grid-area: title;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
  color: #444444;
  text-align: center;
}
.grid_box1 { 
  grid-area: box1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 10px;
  font-size: 100%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.grid_box2 { 
  grid-area: box2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 10px;
  font-size: 100%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
}
.grid_box3 { 
  grid-area: box3;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  margin: 10px;
  font-size: 100%;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
}
.grid_footer { 
  grid-area: footer; 
  text-align: center;
  font-size: small;
  background-color: rgb(250, 192, 32);
}

.grid {
    display: grid;
    grid-template-areas: "header title title"
                         "menu box1 box1"
                         "menu box2 box3"
                         "menu none none"
                         "footer none none";
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 100px 
                        50px
                        auto
                        1fr
                        50px;
    min-height: 100vh;
}

@media screen and (min-width: 1200px) {
    .grid {
  //    grid-template-columns: 400px 400px 400px;
    }
  }

@media screen and (max-width: 700px) {
    .grid {
        grid-template-areas: "header"
                             "menu"
                             "title"
                             "box1"
                             "box2"
                             "box3"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 50px 
                            50px
                            50px
                            1fr
                            1fr
                            1fr
                            20px;
    }
    .grid_header {
      text-align: center
    }
    .navbtn {
      display:inline-block;
      float: none;
    }
}



/* GRID */
    .content {
        grid-column: 1 / -1;
        grid-row: 3;
        //background-color: rgba(255, 255, 255, 1);
        padding: 0px;
        font-size: 100%;
    }

